<template>

<div class="container-fluid">
    <h5><b>Probabilidades</b></h5>
    <hr>
    <div class="row">


        <div class="col-12" v-if="loadingEvent">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-primaryy progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        
        <div 
            v-else
            :class="`col-12 col-md-12 col-xl-6 text-center`" 
            v-for="(event, indiceEvent) in eventFull" 
            :key="indiceEvent"
        >
            <div class="card card-body mb-3 py-2">

                <small class="d-block text-secondary text-left" style="font-size:27px !important;">{{ event.statistics.time_current ? event.statistics.time_current : 'NI' }}' -  {{ event.statistics.title_time ? event.statistics.title_time : 'NI' }}</small>
                <small class="d-block text-secondary">{{ event.competition ? event.competition.name : 'NI' }} -  ID EVENT: {{ event.event.id }}</small>

                <div class="d-flex justify-content-center align-items-center" style="font-size:17px !important;">
                    <span :style="`padding:0 10px; border-left:10px solid ${ event.statistics && event.statistics.Scoreboard && event.statistics.Scoreboard.HomePrimaryShirtColour 
                    ? event.statistics.Scoreboard.HomePrimaryShirtColour
                    : '#DDD'};`" class="float-left" >
                        {{  
                            event.statistics && event.statistics.Scoreboard && event.statistics.Scoreboard.HomeTeamName 
                            ? event.statistics.Scoreboard.HomeTeamName
                            : 'NI'
                        }} 
                        <span class="badge badge-secondary">
                        {{  
                            event.statistics && event.statistics.Scoreboard && event.statistics.Scoreboard.HomeGoals  || event.statistics.Scoreboard.HomeGoals == 0
                            ? event.statistics.Scoreboard.HomeGoals
                            : '-0'
                        }} 
                        </span> 
                    </span>
                    
                    <span class="float-left"> <b>X</b> </span>
                    <span :style="`padding:0 10px; border-right:10px solid ${ event.statistics && event.statistics.Scoreboard && event.statistics.Scoreboard.AwayPrimaryShirtColour 
                    ? event.statistics.Scoreboard.AwayPrimaryShirtColour
                    : '#DDD'};`" class="float-left" >
                        {{  
                            event.statistics && event.statistics.Scoreboard && event.statistics.Scoreboard.AwayTeamName 
                            ? event.statistics.Scoreboard.AwayTeamName
                            : 'NI'
                        }} 
                        <span class="badge badge-secondary">
                        {{  
                            event.statistics && event.statistics.Scoreboard && event.statistics.Scoreboard.AwayGoals  ||  event.statistics.Scoreboard.AwayGoals == 0
                            ? event.statistics.Scoreboard.AwayGoals
                            : '-0'
                        }} 
                        </span> 
                    </span>

                </div>

                <div class="d-flex justify-content-center row">
                    <div class=" col-12 col-md-4">
                        <small>BACK </small> <br />

                        <span class="badge text-white" style="background:#0254a1;">
                            Odd Back: 
                            {{
                                event.statistics.last_odd_back ? event.statistics.last_odd_back : 'NI'
                            }} 
                        </span>
                        <br />
                        <span class="badge text-white" style="background:#0254a1;">
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? 'Casa'
                                : 'Over'
                            }} 
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? event.statistics.probabilidade_back_home ?  event.statistics.probabilidade_back_home + ' % ' : 'NI'
                                : event.statistics.probabilidade_back_over ?  event.statistics.probabilidade_back_over + ' % ' : 'NI'
                            }} 
                        </span>
                        <span class="badge text-white" style="background:#0254a1;">
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? 'Visitante'
                                : 'Under'
                            }} 
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? event.statistics.probabilidade_back_away ?  event.statistics.probabilidade_back_away + ' % ' : 'NI'
                                : event.statistics.probabilidade_back_under ?  event.statistics.probabilidade_back_under + ' % ' : 'NI'
                            }} 
                        </span>
                        <span class="badge text-white" style="background:#0254a1;" v-if="event.statistics && event.statistics.probabilidade_title == 'Match Odds'">
                            Empate {{ event.statistics.probabilidade_back_draw ? event.statistics.probabilidade_back_draw : 'NI' }} % 
                        </span>
                    </div>

                    <div class="col-12 col-md-4 mt-3"> 
                        <b>Porcentagem % {{ event.statistics.probabilidade_title && event.statistics.probabilidade_title ? event.statistics.probabilidade_title : 'NI' }}</b> <br />
                        <button class="btn btn-sm btn-light" type="button" data-toggle="collapse" :data-target="`#event${indiceEvent.replace(/[^0-9]/g, '')}`" aria-expanded="false" :aria-controls="`event${indiceEvent.replace(/[^0-9]/g, '')}`">
                            Mais Detalhes
                        </button>
                    </div>

                    <div class=" col-12 col-md-4">
                        <small>LAY </small> <br />

                        <span class="badge text-white" style="background:#ad3880;">
                            Odd Lay: 
                            {{
                                event.statistics.last_odd_lay ? event.statistics.last_odd_lay : 'NI'
                            }} 
                        </span>
                        <br />

                        <span class="badge text-white" style="background:#ad3880;">
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? 'Casa'
                                : 'Over'
                            }} 
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? event.statistics.probabilidade_lay_home ?  event.statistics.probabilidade_lay_home + ' % ' : 'NI'
                                : event.statistics.probabilidade_lay_over ?  event.statistics.probabilidade_lay_over + ' % ' : 'NI'
                            }} 
                        </span>
                        <span class="badge text-white" style="background:#ad3880;">
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? 'Visitante'
                                : 'Under'
                            }} 
                            {{
                                event.statistics.probabilidade_title && event.statistics.probabilidade_title == 'Match Odds' 
                                ? event.statistics.probabilidade_lay_away ?  event.statistics.probabilidade_lay_away + ' % ' : 'NI'
                                : event.statistics.probabilidade_lay_under ?  event.statistics.probabilidade_lay_under + ' % ' : 'NI'
                            }} 
                        </span>
                        <span class="badge text-white" style="background:#ad3880;" v-if="event.statistics && event.statistics.probabilidade_title == 'Match Odds'">
                            Empate {{ event.statistics.probabilidade_lay_draw ? event.statistics.probabilidade_lay_draw : 'NI' }} % 
                        </span>
                    </div>
                </div> 


               <div class="collapse multi-collapse" :id="`event${indiceEvent.replace(/[^0-9]/g, '')}`">
                    <table class="table table-striped mt-2">
                        <thead>
                            <tr>
                                <th scope="col">At. Perigosos</th>
                                <th scope="col">Ch. alvo</th>
                                <th scope="col">Ch. Fora</th>
                                <th scope="col">At</th>
                                <th scope="col">C. Amarelo</th>
                                <th scope="col">C. Vermelho</th>
                                <th scope="col">Escanteios</th>
                                <th scope="col">Penaltis</th>
                                <th scope="col">Total Chu.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ event.statistics.Statistics.HomeDangerousAttacks }} | {{ event.statistics.Statistics.AwayDangerousAttacks }}</td>
                                <td>{{ event.statistics.Statistics.HomeShotsOnTarget }} | {{ event.statistics.Statistics.AwayShotsOnTarget }}</td>
                                <td>{{ event.statistics.Statistics.HomeShotsOffTarget }} | {{ event.statistics.Statistics.AwayShotsOffTarget }}</td>
                                <td>{{ event.statistics.Statistics.HomeAttacks }} | {{ event.statistics.Statistics.AwayAttacks }}</td>
                                <td>{{ event.statistics.Statistics.HomeYellowCards }} | {{ event.statistics.Statistics.AwayYellowCards }}</td>
                                <td>{{ event.statistics.Statistics.HomeRedCards }} | {{ event.statistics.Statistics.AwayRedCards }}</td>
                                <td>{{ event.statistics.Statistics.HomeCorners }} | {{ event.statistics.Statistics.AwayCorners }}</td>
                                <td>{{ event.statistics.Statistics.HomePenalties }} | {{ event.statistics.Statistics.AwayPenalties }}</td>
                                <td>{{ event.statistics.Statistics.HomeTotalShots }} | {{ event.statistics.Statistics.AwayTotalShots }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>


</div>
    
  
</template>

<script>
    import Methods from '../../mixins/methods'
    export default {
   
        mixins: [
            Methods
        ],

        data(){
            return {
                eventFull: [],
                loadingEvent: true,
            }
        },

        mounted(){
            this.getFullEvents();
            setInterval( () => {
                this.getFullEvents();
            },123000 )
        }

    }
</script>

<style>

</style>