<template>
    <div class="container-fluid">
        <div class="row justify-content-center">

            <audio id="som_entrada" muted>
                <source src="/audios/correspondido.wav" type="audio/wav" />
            </audio>

            <audio id="som_saida" muted>
                <source src="/audios/saida.wav" type="audio/wav" />
            </audio>

            <!-- PARTE FINANCEIRA -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between"><b>Resumo Financeiro</b> <button class="btn btn-sm btn-info"  @click="getAccount();">Atualizar</button></div>
                    <div class="card-body">
                       <b>Responsável: </b> {{ account.firstName ? account.firstName : null }} {{ account.lastName ? account.lastName : null }} <br />
                       <b>Saldo: </b> {{ account.availableToBetBalance ? account.availableToBetBalance.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : 'R$'+ 0 }} <br />
                       <b>Saldo em mercado: </b> {{ account.exposure ? account.exposure.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : 'R$ '+ 0 }}
                    </div>
                </div>
            </div>

            <!--- LISTAGEM DE BOOT E CRIACAO DE NOVO -->
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">Bots <button  class="btn btn-sm btn-success" data-toggle="modal" @click="resetModalBot();" data-target="#newbot">Novo Bot</button></div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped text-center ">
                                <thead>
                                    <tr>
                                        <th scope="col">Status</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Stake</th>
                                        <th scope="col">Odd Min</th>
                                        <th scope="col">Odd Max</th>
                                        <th scope="col">Gol(s) Casa</th>
                                        <th scope="col">Gol(s) Visitante</th>
                                        <th scope="col">Time min</th>
                                        <th scope="col">Time max</th>
                                        <th scope="col">Liquidity Market</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(bot, indexBot) in bots" :key="bot.id">
                                        <td>
                                            <span
                                                :class="`badge badge-${bot.status == 1 ? `success` : `danger`}`"
                                            >
                                                {{ bot.status === 1 ? 'Ativo' : 'Inativo'}}
                                            </span>
                                        </td>
                                        <td><b>{{ bot.name }}</b></td>
                                        <td>{{ bot.value ? bot.value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : 'R$'+ 0 }}</td>
                                        <td>{{ bot.odd_min }}</td>
                                        <td>{{ bot.odd_max }}</td>
                                        <td>{{ bot.score_home }}</td>
                                        <td>{{ bot.score_away }}</td>
                                        <td>{{ bot.time_min }}</td>
                                        <td>{{ bot.time_max }}</td>
                                        <td>{{ bot.liquidity ? bot.liquidity.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : null }}</td>
                                        <td>
                                            <button 
                                                 
                                                class="btn btn-sm btn-secondary" 
                                                data-toggle="modal" 
                                                @click="SelectBot = {  index: indexBot }; editBot(bot);" 
                                                data-target="#newbot"
                                            >Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!--- EVENTOS AO VIVO MONITORANDO --->
            <div class="col-12 col-md-12 mt-3">
                <div class="card">
                    <div class="card-header ">{{ events.length }} - Monitorando <b class="text-success">Ao vivo</b></div>
                    <div class="card-body">
                        <p class="text-center" v-if="events.length <= 0"><b>Não existe jogos dentro da suas configurações de bot(s)</b></p>
                        <table class="table table-striped" v-else>
                            <thead>
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">Evento</th>
                                    <th scope="col">Placar</th>
                                    <th scope="col">Tempo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="event in events" :key="event.event.id" class="bg-success text-white">
                                    <th scope="row">{{ event.event.id }}</th>
                                    <td>{{ event.event.name }}</td>
                                    <td>{{ event.event.statistics ? event.event.statistics.score.home.score : '-' }} x {{ event.event.statistics ? event.event.statistics.score.away.score : '-' }} </td>
                                    <td>{{ event.event.statistics ? event.event.statistics.elapsedRegularTime : '-' }}'</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            
            <!--- ÚLTIMAS ENTRADAS (1) DIA --->
            <div class="col-12 col-md-12 mt-3">
                <div class="card">
                    <div class="card-header">Últimas entradas (1) Dias</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#ID Evento</th>
                                        <th scope="col">#ID Mercado</th>
                                        <th scope="col">Evento</th>
                                        <th scope="col">Mercado Descrição</th>
                                        <th scope="col">Tipo Entrada</th>
                                        <th scope="col">Valor Entrada</th>
                                        <th scope="col">Valor Lucro</th>
                                        <th scope="col">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(listCleared, indexOrders) in listClearedOrders" :key="indexOrders"  :style="`${listCleared.side == 'LAY' ? `background: #F694A9 !important;` : `background:#116196 !important;`}`" class="text-white text-center" >
                                        <th scope="row">{{ listCleared.eventId }}</th>
                                        <th scope="row">{{ listCleared.marketId }}</th>
                                        <td>{{ listCleared.itemDescription.eventDesc }}</td>
                                        <td>{{ listCleared.itemDescription.marketDesc }}</td>
                                        <td>{{ listCleared.side }}</td>
                                        <td>{{ listCleared.priceMatched ? listCleared.priceMatched.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : 'R$ '+ 0 }}</td>
                                        <td>{{ listCleared.profit ? listCleared.profit.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : 'R$ '+ 0 }}</td>
                                        <td>{{ listCleared.placedDate }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- FORM MODAL PARA CRIAR NOVO BOOT --> 
        <div class="modal fade" id="newbot" tabindex="-1" aria-labelledby="newbotLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" style="width:100% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newbotLabel">Bot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <!--- INFORMÇÕES DO BOT -->
                            <div class="col-12">
                               <span class="p-2 bg-secondary w-100 d-block my-3 text-white"> <b>Informações do Bot</b></span>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                    <label><b>Status</b></label>
                                    <select v-model="formBot.status" :disabled="loading" class="form-control form-control-sm">
                                        <option value="1">Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Nome</b></label>
                                   <input v-model="formBot.name" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Valor</b></label>
                                   <input v-model="formBot.value" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                    <label><b>Mercado</b></label>
                                    <select v-model="formBot.market" :disabled="loading" class="form-control form-control-sm">
                                        <option value="MATCH_ODDS">Resultado Final</option>
                                        <option value="CORRECT_SCORE">Resultado Correto</option>
                                        <option value="OVER_UNDER_05">Mais/Menos Gols 0.5</option>
                                        <option value="OVER_UNDER_15">Mais/Menos Gols 1.5</option>
                                        <option value="OVER_UNDER_25">Mais/Menos Gols 2.5</option>
                                        <option value="OVER_UNDER_35">Mais/Menos Gols 3.5</option>
                                        <option value="OVER_UNDER_45">Mais/Menos Gols 4.5</option>
                                        <option value="OVER_UNDER_55">Mais/Menos Gols 5.5</option>
                                        <option value="OVER_UNDER_65">Mais/Menos Gols 6.5</option>
                                        <option value="OVER_UNDER_75">Mais/Menos Gols 7.5</option>
                                        <option value="OVER_UNDER_85">Mais/Menos Gols 8.5</option>
                                        <option value="FIRST_HALF_GOALS_05">Mais/Menos Gols 0.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_15">Mais/Menos Gols 1.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_25">Mais/Menos Gols 2.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_35">Mais/Menos Gols 3.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_45">Mais/Menos Gols 4.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_55">Mais/Menos Gols 5.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_65">Mais/Menos Gols 6.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_75">Mais/Menos Gols 7.5 HT</option>
                                        <option value="FIRST_HALF_GOALS_85">Mais/Menos Gols 8.5 HT</option>
                                    </select>
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                    <label><b>Tipo</b></label>
                                    <select v-model="formBot.type" :disabled="loading" class="form-control form-control-sm">
                                        <option value="back">Back</option>
                                        <option value="lay">Lay</option>
                                    </select>
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                    <label><b>Quem</b></label>
                                    <select v-model="formBot.selection" :disabled="loading" class="form-control form-control-sm">
                                        <option v-if="formBot.market == 'MATCH_ODDS' " value="0">Casa</option>
                                        <option v-if="formBot.market == 'MATCH_ODDS' " value="1">Visitante</option>
                                        <option v-if="formBot.market == 'MATCH_ODDS' " value="2">Empate</option>
                                        <option v-if="formBot.market != 'MATCH_ODDS' && formBot.market != 'CORRECT_SCORE' " value="0">Under</option>
                                        <option v-if="formBot.market != 'MATCH_ODDS' && formBot.market != 'CORRECT_SCORE' " value="1">Over</option>

                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="0">0 - 0</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="1">0 - 1</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="2">0 - 2</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="3">0 - 3</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="4">1 - 0</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="5">1 - 1</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="6">1 - 2</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="7">1 - 3</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="8">2 - 0</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="9">2 - 1</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="10">2 - 2</option>
                                        <option v-if="formBot.market == 'CORRECT_SCORE' " value="11">2 - 3</option>
                                    
                                    </select>
                               </div>
                            </div>
                            
                            <!-- CRITÉRIOS DE ENTRADA ---> 
                            <div class="col-12">
                               <span class="p-2 bg-success w-100 d-block my-3 text-white"> <b>Critérios de Entrada</b></span>
                            </div>

                            <div class="col-12">
                               <div class="form-group">
                                   <label><b>Probailidade de acontecer % :</b></label>
                                   <input v-model="formBot.probability" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Odd Min</b></label>
                                   <input v-model="formBot.odd_min" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Odd Max</b></label>
                                   <input v-model="formBot.odd_max" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Tempo Min</b></label>
                                   <input v-model="formBot.time_min" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Tempo Max</b></label>
                                   <input v-model="formBot.time_max" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Liquidex Mercado</b></label>
                                   <input v-model="formBot.liquidity" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                   <label><b>Max GAP </b></label>
                                   <input v-model="formBot.max_gap" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4" >
                               <div class="form-group">
                                   <label><b>Gols Casa</b></label>
                                   <input v-model="formBot.score_home" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-4" >
                               <div class="form-group">
                                   <label><b>Gols Fora</b></label>
                                   <input v-model="formBot.score_away" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12">
                               <span class="p-2 bg-secondary w-100 d-block my-3 text-white"> <b>Competições: </b></span>
                            </div>

                            <div class="col-12 col-md-6">
                               <div class="form-group">
                                    <label><b>Todas as Competições</b></label>
                                    <select v-model="allCompetions" :disabled="loading" class="form-control form-control-sm">
                                        <option value="1">Sim</option>
                                        <option value="0">Não</option>
                                    </select>
                               </div>
                            </div>

                            <div class="col-12 col-md-6" v-if="!allCompetions || allCompetions != 1">
                               <div class="form-group">
                                    <label><b>Selecionar Competições</b></label>
                                    <v-select
                                        :disabled="loading"
                                        multiple 
                                        v-model="formBot.competions"
                                        :options="competions" 
                                        label="name" 
                                    />
                               </div>
                            </div>

                            <!-- ESTATISTICAS -->
                            <div class="col-12 py-1">
                               <span class="p-2 bg-warning w-100 d-block my-3 text-white d-flex justify-content-between align-items-center"> 
                                    <b>Estatísticas</b>
                                    <div>
                                        <button @click="addStatistic()" class="btn btn-sm btn-primary"> <b>+</b></button>
                                        <button @click="removeStatistic()" class="btn btn-sm btn-secondary"> <b>-</b></button>
                                    </div>
                               </span>
                            </div>

                            <div class="col-12 row " v-for="(statistic, indice) in formBot.statistics" :key="indice">
                            
                                <div class="col-12 col-md-3">
                                    <div class="form-group">
                                        <label><b>Estatística</b></label>
                                        <select v-model="formBot.statistics[indice].statistic" class="form-control form-control-sm">
                                            <option value="">Selecione</option>
                                            <option value="Penalties">Penaltis</option>
                                            <option value="YellowCards">Cartões Amarelos</option>
                                            <option value="RedCards">Cartões Vermelhos</option>
                                            <option value="Substitutions">Substituições</option>
                                            <option value="ShotsOnTarget">Chutes no alvo</option>
                                            <option value="ShotsOffTarget">Chutes Fora do Alvo</option>
                                            <option value="BlockedShots">Chutes Bloqueados</option>
                                            <option value="TotalShots">Total de chutes</option>
                                            <option value="Corners">Escanteio</option>
                                            <option value="Fouls">Faltas</option>
                                            <option value="Offsides">Laterais</option>
                                            <option value="GoalKicks">Chutes a gol</option>
                                            <option value="FreeKicks">Tiro Livre </option>
                                            <option value="DangerousFreeKicks">Chutes Perigosos </option>
                                            <option value="Attacks">Ataques </option>
                                            <option value="DangerousAttacks">Ataques Perigosos </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <div class="form-group">
                                        <label><b>Quem</b></label>
                                        <select v-model="formBot.statistics[indice].side" class="form-control form-control-sm">
                                            <option value="">Selecione</option>
                                            <option value="Home">Casa</option>
                                            <option value="Away">Fora</option>
                                            <option value="Home+Away">Casa + Fora</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <div class="form-group">
                                        <label><b>Mínimo</b></label>
                                        <input v-model="formBot.statistics[indice].min" type="text" class="form-control form-control-sm">
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <div class="form-group">
                                        <label><b>Máximo</b></label>
                                        <input type="text" v-model="formBot.statistics[indice].max" class="form-control form-control-sm">
                                    </div>
                                </div>

                            </div>

                            <!-- CRITÉRIOS DE SAIDA -->
                            <div class="col-12">
                               <span class="p-2 bg-danger w-100 d-block my-3 text-white"> <b>Critérios de Saída: {{ formBot.active_exit && formBot.active_exit == 1 ? 'ATIVO' : 'INATIVO' }} </b></span>
                            </div>

                            <div class="col-12 col-md-4">
                               <div class="form-group">
                                    <label><b>Ativar/Desativar</b></label>
                                    <select v-model="formBot.active_exit" :disabled="loading"  class="form-control form-control-sm">
                                        <option value="1">Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>
                               </div>
                            </div>

                            <div class="col-12 col-md-6"  v-if="formBot.active_exit && formBot.active_exit == 1">
                               <div class="form-group">
                                   <label><b>GAP Saída</b></label>
                                   <input v-model="formBot.gap_exit" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-6"  v-if="formBot.active_exit && formBot.active_exit == 1">
                               <div class="form-group">
                                   <label><b>Tempo de saída</b></label>
                                   <input v-model="formBot.time_exit" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-6"  v-if="formBot.active_exit && formBot.active_exit == 1">
                               <div class="form-group">
                                   <label><b>Saír se tomar GOL</b></label>
                                   <select v-model="formBot.exit_take_gol" :disabled="loading"  class="form-control form-control-sm">
                                        <option value="1">Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>
                               </div>
                            </div>

                            <div class="col-12 col-md-6"  v-if="formBot.active_exit && formBot.active_exit == 1">
                               <div class="form-group">
                                   <label><b>Saída % ( Lucro ) * Saí a qualquer momento. </b></label>
                                   <input v-model="formBot.porcent_profit" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>

                            <div class="col-12 col-md-6"  v-if="formBot.active_exit && formBot.active_exit == 1">
                               <div class="form-group">
                                   <label><b>Saída % ( Perda ) * Saí a qualquer momento. </b></label>
                                   <input v-model="formBot.porcent_loss" :disabled="loading" type="text" class="form-control form-control-sm">
                               </div>
                            </div>


                            <!-- MÁXIMO DE GASTOS DIÁRIOS -->
                            <div class="col-12" >
                                <span class="p-2 bg-info w-100 d-block my-3 text-white"> <b>Máximo de Gastos Diários</b></span>
                            </div>

                            <div class="col-12" >
                                <div class="form-group">
                                    <label><b>Valor Máximo Diário</b></label>
                                    <input v-model="formBot.max_value_day" :disabled="loading" type="text" class="form-control form-control-sm">
                                </div>
                            </div> 
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" :disabled="loading" @click="resetModalBot();" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-sm btn-success" :disabled="loading" @click="submitBot()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <notifications group="submit" position="bottom center" />
    </div>
</template>

<script>
    import Methods from '../../mixins/methods'
    export default {
        
        mixins: [
            Methods
        ],

        data(){
            return{
                loading: false,
                SelectBot: [],
                allCompetions: null,
                formBot: {
                    status: null,
                    name: null,
                    type: null,
                    value: null,
                    market: null,
                    selection: null,
                    odd_min: null,
                    odd_max: null,
                    time_min: null,
                    time_max: null,
                    liquidity: null,
                    max_gap: null,
                    score_home: null,
                    score_away: null,
                    active_exit: null,
                    gap_exit: null,
                    max_value_day: null,
                    competions: [],
                    statistics: [],
                    time_exit: null,
                    exit_take_gol: null,
                    porcent_profit: null,
                    porcent_loss: null,
                    probability: null
                }
            }
        },

        watch:{
            'formBot.active_exit': function(value){
                if(value == 0){
                    this.formBot.gap_exit = null;
                }
            },


            'allCompetions': function(value){
                this.formBot.competions = [];
            },
        },
        
        async mounted() {
            await this.getCompetions();
            
            this.getEvents();
            setInterval( () => {
                this.getEvents();
            }, 120000);

            setInterval( async () => {
                if(!this.run_bots){
                    await this.bot_run_in();
                    await this.bot_run_exit();
                }
            }, 60000);

            this.getAccount();
            setInterval( () => {
                if(!this.run_bots){
                    this.getAccount();
                }
            }, 60000);

            this.getBots();
            this.getlistClearedOrders();

            $('#newbot').modal({
                show: false,
                backdrop: 'static'
            });
        },

        methods: {
            
            resetModalBot(){

                this.formBot =  {
                    status: null,
                    name: null,
                    type: null,
                    value: null,
                    market: null,
                    selection: null,
                    odd_min: null,
                    odd_max: null,
                    time_min: null,
                    time_max: null,
                    liquidity: null,
                    max_gap: null,
                    score_home: null,
                    score_away: null,
                    active_exit: null,
                    gap_exit: null,
                    max_value_day: null,
                    competions: [],
                    statistics: [],
                    time_exit: null,
                    exit_take_gol: null,
                    porcent_profit: null,
                    porcent_loss: null,
                    probability: null
                },
                this.allCompetions = null
            },

            async submitBot(){
                this.loading = true;
                let data = this.formBot;
                data.allCompetions = this.allCompetions;
                await axios.post(`./bot/${this.formBot.id ? `update` : `store`}`, data).then(res => {
                    this.loading = false;
                    if(this.formBot.id){
                        this.bots[this.SelectBot.index] = res.data;
                    }else{
                        this.bots.push(res.data);
                    }
                }).then( () => {
                    this.resetModalBot();
                    $('#newbot').modal('hide');
                }).catch(e => {
                    this.loading = false;
                    console.log(e);
                });
            },

            editBot(bot){
                this.resetModalBot();
                this.formBot = bot;
            },

            addStatistic(){
                this.formBot.statistics.push({
                    statistic: null,
                    side: null,
                    min: null,
                    max: null
                });
            },

            removeStatistic(){
                let index = this.formBot.statistics.length - 1;
                if(!this.formBot.statistics[index].id){
                    this.formBot.statistics.pop();
                }
            },
 
        },

    }
</script>

<style scoped>
    .card-header {
        padding:5px !important;
        background:rgb(12, 4, 114) !important;
        color:#FFF !important;
        font-size:13px !important;
        font-weight:bold !important;
        text-transform:uppercase !important;
        align-items: center;
    }

    body{   
        font-size: 14px !important;
        font-family: 'Ubuntu', sans-serif !important;
    }
    
    label {
        color:rgb(0, 0, 0);
        font-weight: normal;
        text-transform:uppercase !important;
        font-size:11px;
    }
</style>
